@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.slick-dots {
  color: #1a21bc;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1a21bc !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

.Toastify {
  position: absolute;
}

.m_615af6c9 {
  font-weight: 600 !important;
}
